# OS
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# PlatformIO
.pio/
.piolibdeps/

# ESP-IDF
build/
sdkconfig
sdkconfig.old
managed_components/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# Logs
*.log

# Temporary
*.tmp
*.bak
*.swp

# Binary outputs
*.bin
*.elf
*.map
*.hex

# Python
__pycache__/
*.pyc